.content
    display: flex
    width: 100%
    margin-top: 60px
    &__text
        margin-left: auto
        &__row-1
            margin-left: 65px
            margin-bottom: 9px
            font-family: 'Bebas_Neue_Regular'
            font-size: 34px
            color: #444444
        &__row-2
            display: flex
            flex-wrap: pre
            margin-right: 255px
            +max-screen(1120px)
                margin-left: 50px
            +max-screen(690px)
                width: 100%
            .name
                width: 816px
                max-width: 100%
                +max-screen(690px)
                    max-width: calc(100% - 155px)

        &__row-3
            margin-right: 255px
            margin-left: auto
            width: min-content
            margin-top: 23px
            +max-screen(1120px)
                margin-left: 50px
            +max-screen(690px)
                margin-right: 0
                width: 100%
            #premium
                text-align: right
                font-family: 'Bebas_Neue_Book'
                font-size: 51px
                color: #444444
                white-space: nowrap
                +max-screen(690px)
                    font-size: 30px
                    white-space: normal
                    margin-right: 30px
                +max-screen(400px)
                    font-size: 20px
                
