.content
    width: 100%
    &__text
        max-width: 816px
        max-height: 462px
        margin-left: 849px
        &__row-1
            margin-left: 65px
            font-family: 'Bebas Neue Regular'
            font-size: 34px
            color: #444444
