.content
    display: flex
    width: 100%
    margin-top: 71px
    &__text
        margin-left: auto
        &__row-1
            margin-left: 65px
            margin-bottom: 17px
            font-family: 'Bebas Neue Regular'
            font-size: 34px
            color: #444444
        &__row-2
            display: flex
            flex-wrap: pre
            margin-right: 255px
            .name-1
                width: 277px
                height: 331px 

            .name-2
                margin-top: auto
                height: 108px
                width: 518px
                margin-left: 21px   
        &__row-3
            margin-right: 255px
            margin-left: auto
            width: min-content
            margin-top: 35px

            #premium
                text-align: right
                font-family: 'Bebas Neue Book'
                font-size: 51px
                color: #444444
                white-space: nowrap


 

