.cost
    display: flex
    flex-wrap: wrap
    max-width: 391px
    margin-top: 84px
    margin-left: -14px
    margin-bottom: 45px
    +max-screen(690px)
        max-width: 100%
        width: 100%

    img 
        width: 24px
        height: 237px 
        margin-right: 32px
    &__text
        display: flex
        flex-direction: column
        +max-screen(450px)
            margin-right: 20px
            width: calc( 100% - 100px )
    &__row-1
        margin-top: 16px
        font-family: 'Montserrat Medium'
        font-size: 16px
        color: #c7af8a
        #from
            margin-bottom: -12px
        #cost
            display: flex
            align-items: start
            font-size: 44px
            width: min-content
            position: relative
            
        #day
            font-size: 18px
            position: absolute
            right: 0
            margin-top: 50px

    &__row-2
        max-width: 335px
        margin-top: 32px
        font-family: 'Montserrat Regular'
        font-size: 18px
        color: #444444
        line-height: 28px
        +max-screen(450px)
            white-space: normal

