.header
    display: flex
    justify-content: space-between
    height: 40px
    width: 100%
    max-width: 950px
    margin-top: 58px
    margin-left: auto
    margin-right: 31px
    font-family: 'Bebas Neue Regular'
    font-size: 24px
    &__item
        display: flex
        justify-content: center
        align-items: center
        height: 100%
        white-space: pre

    &__btn
        width: 170px
        border: 1px solid #C7AF84
        border-radius: 10px
