@font-face {
    font-family: 'Bebas_Neue_Regular';
    src: url('fonts/Bebas_Neue_Regular.ttf');
}

@font-face {
    font-family: 'Bebas_Neue_Book';
    src: url('fonts/Bebas_Neue_Book.ttf');
}

@font-face {
    font-family: 'Montserrat_Medium';
    src: url('fonts/Montserrat_Medium.otf');
}

@font-face {
    font-family: 'Montserrat_Regular';
    src: url('fonts/Montserrat_Regular.ttf');
}